<% include include/head %>
  <body>
    <div>
        <h1>create</h1>
        <form class="needs-validation" novalidate="" action="/country/member" method="POST">
        name :
        <input type="text" name="name" placeholder="name"> <br>
        ID :
        <input type="text" name="member_id" placeholder="User ID"><br>
        PW : 
        <input type="password" name="member_pw" placeholder="Password"><br>
        <input type="submit" value="create">
     </div>
     <script>

     </script>
  </body>
<% include include/foot %>