<% include include/head %>
<div class="inner cover">

    <h1 class="cover-heading">실패</h1>
    <h4><%= msg%></h4>

    
    <p class="lead">
        <a href="/country" class="btn btn-lg btn-info">메인으로</a>
    </p>
</div>
<% include include/foot %>